<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>aside-right</title>
</head>
<body>
<aside th:fragment="frag_aside-right">
    <div class="aside-right">
        <ul class="sideNav-list" th:each="region : ${productsByRegion}">
            <div th:text="'食' + ${region.key+'&#9655;'}" th:id="${region.key}" onclick="countryClicked(this.id)"></div>
            <div th:id="${'list'+region.key}" style="display: none;">
                <ul class="sideNav-list" th:each="product : ${region.value}">
                    <li class="sideNav__list-management active">
                        <a th:href="@{/top/showDetail/}+${product.productId}"  th:text="${product.productName}"></a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
    <script th:src="@{/js/aside-right.js}"></script>
</aside>

</body>
</html>