<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4××エラー</title>
</head>
<body>
    <main class="container" id="top"><!--mainが入ります-->
        <div class="page-width register" id="customers-registrations-sign-up-view">
          <div class="grid row">
            <div class="col-md-12">
              <div>
                <div class="not-found">
                  申し訳ございません。<br>ご指定頂いたページは見つかりませんでした。
                </div>
              </div>
              <div class="back-to-top-page">
                <form th:action="{/back}" method="get">
                <button>戻る</button>
            </form>
            </div>
            </div>
          </div>
        </div>
      </main>
    
</body>
</html>