* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productsList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.left-product-content, .right-product-content {
    flex: 1;
    box-sizing: border-box;
}

.right-product-content img {
    width: 100%;   /* これにより、親コンテナのサイズに合わせて画像がスケーリングされます */
    max-width: 150px;
    height: auto; /* これにより、画像は元のアスペクト比を保持しつつ、指定されたwidthに合わせてリサイズされます */
    display: block;
}

.product-detail .product-detail-content-right img {
    width: 20%;
    height: auto;
    display: block;
}
.shopping-cart-image-url {
    width: 10%; /* Decreased from 20% to 10% to make it half the size */
    display: block;
}

.shopping-cart-image-url img {
    width: 100%;
    height: auto;
}

.order-confirmation-content-right {
width: 20px;
height: auto;
display: block;
}

