* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: linear-gradient(to bottom, #FFB6C1, #FFD700, #FF6347); /* 華やかなグラデーションに変更 */
}

header {
    background-color: #FF4500; /* 明るいオレンジに */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

nav.navbar {
    background: linear-gradient(45deg, #4B79A1, #283E51); /* グラディエント */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 影の強化 */
}

nav.navbar a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* テキストに影を追加 */
}

nav.navbar a:hover {
    color: #FFD700; /* ホバー時の色変更 */
    background-color: rgba(255, 255, 255, 0.1); /* ホバー時の背景変更 */
}


section {
    background-color: rgba(255, 255, 255, 0.7); /* セクションの背景を半透明の白に */
    padding: 20px;
    border-radius: 15px; /* 角を丸く */
    margin-bottom: 20px;
}

button, .btn {
    transition: all 0.3s; /* トランジション追加 */
}

button:hover, .btn:hover {
    transform: scale(1.05); /* ホバー時に少し大きく */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #32CD32; /* 明るい緑に */
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.05);
}

/*.productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/

.product-container {
    display: flex;
    width: 48%;
    max-width: 48%;
    flex-basis: 48%;
    margin: 1%;
    box-sizing: border-box;
}

/*.right-product-content img {
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}*/

.product-detail .product-detail-content-right img {
    width: 20%;
    height: auto;
    display: block;
}

.shopping-cart-image-url {
    width: 10%; /* Decreased from 20% to 10% to make it half the size */
    display: block;
}

.shopping-cart-image-url img {
    width: 100%;
    height: auto;
}

.order-confirmation-content-right {
width: 20px;
height: auto;
display: block;
}

body {
    background: linear-gradient(to bottom, rgba(255, 182, 193, 0.6), rgba(255, 215, 0, 0.6), rgba(255, 99, 71, 0.6)), url('/img/kouyou.jpg') no-repeat center center fixed;
    background-size: cover;
}

.product-list-image {
width: 30%;
height: auto;
display: block;
}

.top-product-each-list {
width: 25%;
flex-wrap: wrap;

}





