<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order-confirmation</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<header class="text-brack py-3">
    <div class="container">
        <a th:href="@{/top/back}">
            <h1 class="text-center">食の冒険</h1>
        </a>
    </div>
</header>
<body>
<div class="order-confirmation">
    <h3>注文確認画面</h3>
    <div class="order-confirmation-product">
        <p>注文商品一覧</p>
        <div th:if="${cartDetailsList == null or cartDetailsList.empty}">
            <p>商品はありません。</p>
        </div>
        <div th:unless="${cartDetailsList == null or cartDetailsList.empty}">
            <input type="text" id="numberOfMerchandise"
                   th:value="${cartDetailsList.size}"
                   style="display: none">
            <div class="confirm-content">
                <div class="confirm-content-border"
                     th:each="cartDetail,status:${cartDetailsList}">
                    <div class="confirm-content-name-price">
                        <div class="confirm-name">
                            商品名&colon;
                            <span th:text="${cartDetail.productName}">商品</span>
                        </div>
                        <div class="confirm-quantity">
                            <div class="confirm-quantity-label">
                                個数&colon;
                                <span th:text="${cartDetail.quantity}"></span>個
                            </div>

                        </div>
                        <div class="order-confirmtion-product-price">
                            <p th:text="${cartDetail.price} + '円'"></p>
                        </div>

                        <div class="order-confirmation-content-right">
                            <div class="shopping-cart-image-url">
                                <img th:src="@{/img/{imageName}(imageName=${cartDetail.imageUrl})}"
                                     alt="Product Image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="confirm-subheading">お客様情報を入力してください</h2>
                <div class="confirm-bottom">
                    <form th:action="@{/order/to-order-complete}" th:object="${ordersForm}" method="post">
                        <h3>お届け先</h3>
                        <div class="confirm-bottom-content">
                            <div class="last-name">
                                <label for="lastName">姓&colon;</label>
                                <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red;"></div>
                                <input type="text" class="validate[required]" name="lastName" id="lastName" placeholder="山田"
                                       th:field="*{lastName}">
                            </div>

                            <div class="confirm-customer-first-name">
                                <label for="firstName">名&colon;</label>
                                <input type="text" name="firstName" id="firstName" placeholder="太郎" th:field="*{firstName}">
                                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red;"></span>
                            </div>

                            <div class="confirm-customer-zipcode">
                                <label for="zipCode">郵便番号&colon;</label>
                                <div th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}" style="color: red;"></div>
                                <input type="text" class="validate[required]" name="zipCode" id="zipCode" placeholder="0000000"
                                       th:field="*{zipCode}">
                                <button id="search-address" type="button">郵便番号から住所を検索</button><br>
                            </div>

                            <div class="confirm-customer-address">
                                <label for="address">住所&colon;</label>
                                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" style="color: red;"></div>
                                <input type="text" class="validate[required]" name="address" id="address" placeholder="東京都新宿区西新宿123"
                                       th:field="*{address}">
                            </div>

                            <div class="confirm-customer-telephone">
                                <label for="telephone">電話番号&colon;</label>
                                <div  th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" style="color: red;"></div>
                                <input type="text" class="validate[required]" name="telephone" id="telephone" placeholder="00000000000"
                                       th:field="*{telephone}">
                            </div>
                        </div>

                        <h3>支払い方法</h3>
                        <!-- お振込のラジオボタンが押された時のみ、振込情報が表示される処理を追加 -->
                        <div class="confirm-payment">
                            <div class="confirm-payment-cash">
                                <label class="payment-label"
                                       for="cashOnDelivery">代引き&colon;<input type="radio"
                                                                                id="cashOnDelivery" value="1" name="pay"
                                                                                onclick="buttonClick()" class="radio"
                                                                                checked></label>
                            </div>
                            <div class="confirm-payment-transfer">
                                <label class="payment-label" for="transfer">お振込&colon;<input
                                        type="radio" id="transfer" value="2" name="pay"
                                        onclick="buttonClick()" class="radio"></label>
                            </div>
                            <div class="confirm-payment-card">
                                <label class="payment-label" for="stripe-button">カード&colon;<input
                                        type="radio" id="stripe-button" value="3" name="pay"
                                        onclick="buttonClick()" class="radio"></label>
                            </div>

                            <div id="bank-info" value="bank-info" style="display: none;">
                                <h1>銀行振込先情報</h1>
                                <span>注文確定後、7営業日以内に下記口座へお振込ください。期日までに振り込みがない場合はキャンセルになります。</span><br>
                                <span>金融機関名:ラクラク銀行</span><br>
                                <span>支店名:ラクス支店</span><br> <span>口座種別:普通</span>
                                <br><span>口座番号:1234567</span>
                                <br><span>口座名義人名:ラクラク食</span><br>
                                <span>※振り込み手数料はお客様のご負担になります。</span>
                            </div>
                        <div id="stripe-button2" style="display: block;">
                            <script src="https://checkout.stripe.com/checkout.js"
                                    data-key="pk_test_51NDOT0CcxxRiYOcnZUNon1HEJj1ai181kBFy8lKemibfaFbYMjnSKilBdc1ha6SvutSLAwj8azn4zDEy0ygzYSKZ00chcvpmtm">
                            </script>
                        </div>

                            <div class="confirm-total-total-price">合計金額&colon;<span id="totalPrice" th:text="${session.totalPrice}">dummy</span>
                                円</div>
                        </div>

                        <div class="confirm-button">
                            <button id="confirm-btn" class="confirm-button" type="submit">注文確定</button>
                        </div>
                        <a th:href="@{/top/back}">戻る</a>
                        <input type="hidden" th:field="*{totalPrice}"/>
                        <input type="hidden" th:field="*{userId}"/>
<!--                        <input type="hidden" th:field="*{paymentMethod}"/>-->
                        <input type="hidden" th:field="*{regionId}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/form.js" th:src="@{/js/form.js}"></script>
<script src="/js/checout.js" th:src="@{/js/checkout.js}"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        notifySessionTimeout();-->
<!--    });-->
<!--</script>-->
</body>

</html>