<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文完了</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<header class="text-brack py-3">
    <div class="container">
        <a th:href="@{/top/back}">
            <h1 class="text-center">食の冒険</h1>
        </a>
    </div>
</header>
<body>
<div clas="order-completed">
    <div class="order-completed-content">
    <p>ご購入ありがとうございました。</p>
    </div>
<div class="order-completed-back-to-page">
    <a th:href="@{/top/back}">戻る</a>
</div>
</div>
    
</body>
</html>