<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注文完了</title>
</head>
<body>
    <p>ご購入ありがとうございました。</p>
    <form th:action="@{/top/back}"><button>戻る</button></form>
    
</body>
</html>
                    <form th:action="@{/delete-shopping-carts}" method="post">
                        <input type="hidden" name="cartId" th:value="${cartDetail.cartId}">
                        <input type="hidden" name="productId" th:value="${cartDetail.productId}">
                        <input type="hidden" name="productName" th:value="${cartDetail.productName}">
                        <input type="hidden" name="price" th:value="${cartDetail.price}">
                        <input type="hidden" name="description" th:value="${cartDetail.description}">
                        <button class="shopping-cart-btn" type="submit">削除</button>
                    </form>

                    <label for="confirm-quantity-input${status.index}">
                        <div class="shopping-cart-quantity">
                            <div class="confirm-quantity-label">
                                個数&colon;
                            </div>
                            <input type="number"
                                   th:data-product-id="${cartDetail.productId}"
                                   th:name="${'quantity' + status.index}"
                                   th:id="${'confirm-quantity-input' + status.index}"
                                   th:value="${cartDetail.quantity}"
                                   onchange="amountChange(this.id, this.value, this.dataset.productId)"
                                   min="1">個
                        </div>
                    </label>

                    <div class="shopping-cart-content-right">
                        <div class="shopping-cart-image-url">
                            <img th:src="@{/img/{imageName}(imageName=${cartDetail.imageUrl})}" alt="Product Image"/>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="shopping-cart-total-price">
            <p th:text="'合計: ' + ${totalPrice} + '円'"></p>
        </div>π