<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>merchandise-detail</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" th:href="@{/img/favicon.ico}">
</head>
<header class="text-brack py-3">
    <div class="container">
        <a th:href="@{/top/back}">
        <h1 class="text-center">食の冒険</h1>
        </a>
    </div>
</header>
<body>
    <div class="main">
        <div class="product-detail">
            <span>商品詳細画面</span>
            <section>

            <form th:action="@{/add-cart}" method="post" id="merchandise-info-detail">
            <div class="product-detail-content-left">

                <input type="hidden" name="productId" th:value="${product.productId}">
                <h2 class="product-detail-name" th:text="${product.productName}"></h2>
                <p class="product-detail-price">
                    <span th:text="${product.price}"></span>円
                </p>
                <p class="product-detail-description">
                    <span th:text="${product.description}"></span>
                </p>

            </div>

            <div class="product-detail-content-right">
                <img th:src="@{/img/}+${product.imageUrl}" alt="productImage">
            </div>
            <button class="product-detail-to-cart-button" type="submit">ショッピングカートに追加</button>
        </form>
            </section>
        </div>

        <div class="back-to-top-page-from-product-detail">
            <a th:href="@{/top/back}">戻る</a>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>