<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer-registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="customer-registration">
    <form th:action="@{/customer-insert}" method="post" th:object="${usersForm}">
        <div class="customer-form">
            <div class="last-name">
                <label for="lastName">姓</label><br>
                <div th:errors="*{lastName}" style="color: red;">エラー!</div>
                <input type="text" class="validate[required]" name="lastName" id="lastName" placeholder="山田"
                       th:field="*{lastName}">
            </div>
            <div class="first-name">
                <label>名</label><br>
                <div th:errors="*{firstName}" style="color: red;">エラー!</div>
                <input type="text" class="validate[required]" name="firstName" id="firstName" placeholder="太郎"
                       th:field="*{firstName}">
            </div>
            <div class="date-of-birth">
                <label>生年月日</label><br>
                <div th:errors="*{birthDate}" style="color: red;"></div>
                <input type="date" class="validate[required]" name="birthDate" id="birthDate" th:field="*{birthDate}">
            </div>
            <div class="email">
                <label>メールアドレス</label><br>
                <div th:errors="*{email}" style="color: red;">エラー!</div>
                <input type="text" class="validate[required]" name="email" id="email" th:field="*{email}">
            </div>
            <div class="password">
                <label>パスワード</label><br>
                <div th:errors="*{password}" style="color: red;"></div>
                <div th:errors="*{passwordTrue}" style="color: red;"></div>
                <input type="password" class="validate[required]" name="password" id="password" th:field="*{password}">
            </div>
            <div class="re-password">
                <label>確認用パスワード</label><br>
                <div th:errors="*{rePassword}" style="color: red;"></div>
                <div th:errors="*{passwordTrue}" style="color: red;"></div>
                <input type="password" class="validate[required]" name="rePassword" id="re-password"
                       th:field="*{rePassword}">
            </div>
            <div th:if="${error}" style="color: red;">エラー: <span th:text="${error}"></span></div>
        </div>
        <div class="customer-registration-button">
            <button>会員登録</button>
        </div>
    </form>
    <a th:href="@{/top/back}">戻る</a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>