<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer-registration</title>
</head>
<body>
    <div class="customer-registration">
        <form th:action="@{/customer-insert}" th:object="${usersForm}" method="post">
        <div class="customer-form">
            <div class="last-name">
                <label for="lastName">姓</label><br>
                <div th:errors="*{lastName}" style="color: red;">エラー!</div>
                <input type="text" name="lastName" id="lastName" placeholder="山田" th:field="*{lastName}">
            </div>
            <div class="first-name">
                <label>名</label><br>
                <div th:errors="*{firstName}" style="color: red;">エラー!</div>
                <input type="text" name="firstName" id="firstName" placeholder="太郎" th:field="*{firstName}">
            </div>
            <div class="date-of-birth">
                <label>生年月日</label><br>
                <div th:errors="*{birthDate}" style="color: red;"></div>
                <input type="date" name="birthDate" id="birthDate" th:field="*{birthDate}">
            </div>
            <div class="email">
                <label>メールアドレス</label><br>
                <div th:errors="*{email}" style="color: red;">エラー!</div>
                <input type="text" name="email" id="email" th:field="*{email}">
            </div>
            <div class="password">
                <label>パスワード</label><br>
                <div th:errors="*{password}" style="color: red;"></div>
                <input type="password" name="password" id="password" th:field="*{password}">
            </div>
            <div class="re-password">
                <label>確認用パスワード</label><br>
                <div th:errors="*{rePassword}" style="color: red;"></div>
                <input type="password" name="re-password" id="re-password" th:field="*{rePassword}">
            </div>
        </div>
        <div class="customer-registration-button">
            <button>会員登録</button>
        </div>
    </form>
    </div>
    
</body>
</html>