<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>shopping-cart</title>
</head>
<body>
<div th:if="${cartDetailsList == null || cartDetailsList.empty}">
    <p>商品はありません。</p>
    <a th:href="@{/top/back}">戻る</a>
</div>
<div th:unless="${cartDetailsList == null || cartDetailsList.empty}">
    <div class="shopping-cart-list">
        <div class="shopping-cart-content-left">
            <div th:each="cartDetail, status: ${cartDetailsList}">
                <div class="shopping-cart-product-name">
                    <p th:text="${cartDetail.productName}"></p>
                </div>
                <div class="shopping-cart-product-price">
                    <p th:text="${cartDetail.price}"></p>
                </div>
                <div class="shopping-cart-product-description">
                    <p th:text="${cartDetail.description}"></p>
                </div>
                <div class="shopping-cart-product-quantity">
                    <p th:text="${cartDetail.quantity}">1</p>
                </div>

                <form th:action="@{/delete-shopping-carts}" method="post">
                        <input type="hidden" name="cartId" th:value="${cartDetail.cartId}"> 
                        <input type="hidden" name="productId" th:value="${cartDetail.productId}">
                        <input type="hidden" name="productName" th:value="${cartDetail.productName}">
                        <input type="hidden" name="price" th:value="${cartDetail.price}">
                        <input type="hidden" name="description" th:value="${cartDetail.description}">
                        <button class="shopping-cart-btn" type="submit">削除</button>
                    </form>
                <div class="shopping-cart-content-right">
                    <div class="shopping-cart-image-url">
                        <img th:src="@{/img/{imageName}(imageName=${cartDetail.imageUrl})}" alt="Product Image"/>
                    </div>
                </div>
            </div>
            </div>
        <div class="shopping-cart-total-price">
            <p th:text="'合計: ' + ${totalPrice} + '円'"></p>
        </div>
            <a th:href="@{/top/back}">戻る</a>
            <form th:action="@{order-confirmation}">
                <button>購入手続き</button>
            </form>
        </div>
    </div>
    
</body>
</html>