<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>スタンプカード</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="stamp-top">
<h2>スタンプカード</h2>
    <br>

    <p>1回の注文で1スタンプ押印します。<br></p>
<p>10個貯まると自動で次のスタンプカードに移り、次回注文が10%割引になります。</p>

    <div th:if="${session.lastName == null}">
        <p>ログインするとお客様のスタンプカード情報が確認できます。</p>
        <a th:href="@{/login}" method="get"
           class="btn btn-secondary btn-sm btn-blue">ログイン</a>
    </div>

<div th:if="${myStamp != null}">

    <div class="stamp-card">
        <p> スタンプカード: <span th:text="${myStamp.cardNumber + 1}"></span>枚目</p>

        <div class="stamp-grid">
                <div th:each="i : ${#numbers.sequence(1, myStamp.stamps % 10 + 1)}">
                    <span th:text="${i}"></span>
                    <img th:src="@{/img/stamp-image.png}" alt="Stamp Image">
                </div>
            </div>

    </div>

</div>
    <div class="back-button">
        <a th:href="@{/top/back}" method="get">戻る</a>
    </div>
</div>

</body>
</html>
