<!DOCTYPE html>
<html lang="ja" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>スタンプカード</title>
    <link rel="icon" th:href="@{/img/favicon.ico}">
<!--    <script th:inline="javascript">-->
<!--        /*<![CDATA[*/-->
<!--        function notifySessionTimeout() {-->
<!--            alert("セッションがタイムアウトしました。再ログインしてください。");-->
<!--        }-->
<!--        /*]]>*/-->
<!--    </script>-->
</head>
<header></header>
<body><!-- スタンプカードの表示 -->
<p>スタンプカード</p>
<div th:each="regionId : ${regionIds}">
    <div class="stamp-card">
        <p>Region ID: <span th:text="${regionId}"></span></p>
        <p>Card Number: <span th:text="${stampCardMap[regionId]}"></span></p>

        <!-- スタンプの表示 -->
        <div th:each="stamp : ${userStamps}">
            <div th:if="${stamp.regionId == regionId}">
                <img src="stamp-image.png" alt="Stamp Image">
            </div>
        </div>
        <div>
            <a th:href=@"{/back}" method="get">戻る</a>
        </div>
    </div>
</div>
<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        notifySessionTimeout();-->
<!--    });-->
<!--</script>-->
</body>
</html>