<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>食の冒険 - 地域別特産品を巡る旅</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>食の冒険</h1>
    <nav>
        <ul>
            <li><a href="#regions">地域を探す</a></li>
            <li><a href="#popular">人気商品</a></li>
            <li><a href="#events">イベント情報</a></li>
            <li><a href="#cart">カート</a></li>
            <li><a href="#login">ログイン</a></li>
        </ul>
    </nav>
</header>

<section id="regions">
    <h2>地域を探す</h2>
    <!-- 地図APIによる地域選択機能をここに表示 -->
</section>

<section id="popular">
    <h2>人気商品</h2>
    <!-- 人気商品のリストをここに表示 -->
    <div class="productsList">
        <div th:each="product:${productsList}">
            <div class="product-container">
                <div class="left-product-content">
                    <a href="merchandise-infoes.html" th:href="@{/top/showDetail/}+${product.productId}">
                    <p class="product-name"><span th:text="${product.productName}"></span>:</p>
                    </a>
                    <p class="product-price"><span th:text="${product.price}"></span>円</p>
                    <p class="product-description"><span th:text="${product.description}"></span></p>
                </div>
                <div class="right-product-content">
                    <a href="merchandise-infoes.html" th:href="@{/top/showDetail/}+${product.productId}">
                        <img th:src="@{/img/{imageName}(imageName=${product.imageUrl})}" alt="Product Image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="events">
    <h2>イベント情報</h2>
    <!-- 地域の料理教室やイベント情報をここに表示 -->
</section>

<div th:if="${session.lastName == null}">
    <section id="login">
        <a th:href="@{/login}" method="get">
            <p>ログイン</p>
        </a>
        <!-- ユーザープロフィールや購入履歴をここに表示 -->
    </section>
</div>

<div th:unless="${session.lastName == empty}">
    <div class="login-name">
        <span>ようこそ</span>
        <span th:text="${session.lastName}"></span>
        <span>さん!</span>
    </div>
    <section id="logout">
        <a th:href="@{/logout}" method="get">
            <p>ログアウト</p>
        </a>

        <!-- ユーザープロフィールや購入履歴をここに表示 -->
    </section>
</div>

<section id="cart">
    <h2>カート</h2>
    <!-- カート内の商品リストをここに表示 -->
</section>

<footer>
    <p>&copy; 2023 食の冒険. All rights reserved.</p>
    <a th:href="@{/show-shopping-cart}" method="get">
        ショッピングカートへ
    </a>
</footer>

<script src="scripts.js"></script>
</body>
</html>
